
@font-face{font-family:"Futura"; src:url("/futura.ttf") format("truetype");}
@font-face{font-family:"FontAwesome"; src:url("/fontawesome-webfont.ttf") format("truetype");}

table.paragraph { padding: 0px 0px 0px 0px; }

div.book-title {  font-size: 36pt;  }
div.author {  font-size: 24pt;  }

div.chapter-link { cursor:pointer; font-size:20pt; padding:5px 40px 5px 40px; }
div.chapter-link:hover { background-color:#111; }

div.chapter-title { font-size:20pt;padding:10px 10px 10px 0px; }

div.page-button { cursor:pointer; padding:5px 10px 5px 10px; }
div.page-button-blank { cursor:pointer; padding:5px 10px 5px 10px; }
div.page-button:hover { background-color:#333; }
div.page-button-selected { cursor:default; padding:5px 10px 5px 10px; background-color:#555; }

img.page-button { padding:10px; cursor:pointer;}
img.page-button-selected { padding:10px; background-color:#555;}}
img.page-button:hover { background-color:#333; }

body {  background:black; font-family:"Futura"; color:white; padding:20px;}

h1 { font-weight: normal; }

div.p-text { font-size: 16pt; padding:5px; margin:0px; }
div.p-text:hover { background-color:#111; }

div.p-text-detail { font-size: 16pt; padding:5px; margin:0px; cursor:default; }

div.word-p { font-size: 16pt; padding:5px; margin:0px; cursor:pointer; }
div.word-p:hover { background-color:#111; }
div.word-p-current { font-size: 16pt; padding:5px; margin:0px; cursor:default; }

span.w:hover { background-color:#222; cursor:pointer;  }

span.sw { background-color:#334; }

div.chapter-with-word { font-size: 16pt; }
div.paragraphs-with-word { padding:0px 0px 20px 20px; }

a { color: white; text-decoration:none; }

div.index-link {  cursor:pointer; font-size: 20pt; padding:5px 40px 5px 40px; }
div.index-link:hover {  background-color:#111; }

table.word-frequency {  font-size: 14pt; }
tr.word-link {  padding:2px; cursor:pointer; }
tr.word-link:hover {  background-color:#333; }

table.postags {  font-size: 14pt; }

.postags td {  padding-right: 20px; }

div.settings { float:right; cursor: pointer;}
div.settings:hover { background-color:#333; }

div.dialog-backpane { width:100%;height:100%;background:black;opacity:0.60;position:absolute; }
div.dialog-outer  { position:absolute; width:100%; height:100%; top:20%; }
div.dialog-inner  { position:absolute; width:100%; text-align:center; }
div.dialog  { display: inline-block; }

div.settings-dialog { border:1px solid white; padding:30px 40px 30px 40px; background-color:black; }
div.avatars-dialog { border:1px solid white; padding:20px; background-color:black; }

table.avatars { font-size: 32px; padding-bottom:30px; }

td.selectable-row { cursor:pointer; padding:5px 20px 5px 20px;}
td.selectable-row:hover { background-color:#333; }

span.button:hover { background-color:#333; }

table.maplist { border-collapse:collapse;}

# .maplist tr td {  padding:10px 15px 10px 15px; }
.maplist tr td {  padding:3px 5px 3px 5px; }

tr.selectable { cursor:pointer; }
tr.selectable:hover { background-color:#333; }

tr.selected { cursor:pointer;background-color:#222; }
tr.selected:hover { background-color:#333; }

div.button { display:inline-block;padding:5px 13px 5px 13px;cursor:pointer;font-size:32px;}
div.button:hover { background-color:#555; }

div.buttonb { display:inline-block;padding:5px 13px 5px 13px;border:1px solid #444;cursor:pointer;font-size:24px;}
div.buttonb:hover { background-color:#555; }

